<?xml version="1.0"?>
<phpunit cacheTokens="true"
         colors="true"
         bootstrap="tests/bootstrap.php">
    <testsuite name="UnitTests">
        <directory suffix=".php">tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">app/code/community/Magehack/BigDataImport</directory>
        </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="32767" />
        <ini name="display_errors" value="1" />
        <ini name="date.timezone" value="UTC" />
    </php>
</phpunit>
